---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Acceso denegado">
    <div class="access-denied-container">
        <div class="lock-icon">🔒</div>
        <h1>Acceso denegado</h1>
        <p>
            Para ver esta página es necesario ser miembro del sitio. Por favor 
            <a href="/signup">Sign up</a> o <a href="/login">Log in</a>.
        </p>
    </div>
</Layout>

<style>

    .access-denied-container {
        padding: 20px;
        border-radius: 5px;
        max-width: 400px;
        margin: auto;
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    h1 {
        color: #333;
        text-align: center;
        margin-bottom: 20px;
        font-size: 35px;
        font-weight: bold;
    }
    .lock-icon {
        font-size: 48px;
        margin-bottom: 20px;
        text-align: center;
    }
    p {
        margin-bottom: 20px;
        color: #333;
    }
    a {
        color: #0000EE;
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
</style>