---
import Layout from "../../layouts/Layout.astro"; // Importa el componente Layout desde la ruta especificada
---

<Layout title="Reinicio del Password">
    <!-- Usamos el componente Layout con el t칤tulo "Reinicio del Password" -->
    <div class="protected-container">
        <!-- Contenedor principal para la p치gina de reinicio de contrase침a -->
        <div class="lock-icon">游</div>
        <!-- Icono de candado que indica que la p치gina es protegida -->
        <h1>P치gina protegida</h1>
        <!-- Encabezado principal que indica que el acceso est치 restringido -->
        <form action="/cuenta">
            <!-- Formulario que se env칤a a la ruta /cuenta -->
            <input
                type="password"
                id="password"
                name="password"
                placeholder="Password"
                required
            />
            <!-- Campo para ingresar la nueva contrase침a, obligatorio -->
            <button type="submit">Enviar</button>
            <!-- Bot칩n para enviar el formulario -->
        </form>
    </div>
</Layout>

<style>
    .protected-container {
        padding: 20px;
        border-radius: 5px;
        max-width: 400px;
        margin: auto;
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    h1 {
        color: #333;
        text-align: center;
        margin-bottom: 20px;
        font-size: 35px;
        font-weight: bold;
    }

    .lock-icon {
        font-size: 72px;
        margin-bottom: 20px;
        text-align: center;
    }
    form {
        display: flex;
        flex-direction: column;
    }
    input[type="password"] {
        padding: 10px;
        margin-bottom: 10px;
        border: none;
        border-radius: 3px;
    }
    button {
        padding: 10px;
        background-color: #3498db;
        color: white;
        border: none;
        border-radius: 3px;
        cursor: pointer;
    }
    button:hover {
        background-color: #2980b9;
    }
</style>
