---
import Layout from "../../layouts/Layout.astro"; // Importa el componente Layout desde la ruta especificada
---

<Layout title="Reinicio del Password">
    <!-- Usamos el componente Layout con el título "Reinicio del Password" -->
    <div class="reset-container">
        <!-- Contenedor principal para la página de reinicio de contraseña -->
        <h1>Reinicio del Password</h1>
        <!-- Encabezado principal de la página -->
        <form>
            <!-- Formulario para reiniciar la contraseña -->
            <label for="email">Email</label>
            <!-- Etiqueta para el campo de correo electrónico -->
            <input type="email" id="email" name="email" required />
            <!-- Campo de entrada para el correo electrónico, obligatorio -->

            <button type="submit">Reinicia Password</button>
            <!-- Botón para enviar el formulario y solicitar el reinicio de la contraseña -->
        </form>
    </div>
</Layout>

<style>
    .reset-container {
        padding: 20px;
        border-radius: 5px;
        max-width: 400px;
        margin: auto;
    }
    h1 {
        color: #333;
        text-align: center;
        margin-bottom: 20px;
        font-size: 35px;
        font-weight: bold;
    }
    form {
        display: flex;
        flex-direction: column;
    }
    label {
        margin-bottom: 5px;
        color: #333;
    }
    input[type="email"] {
        padding: 10px;
        margin-bottom: 10px;
        border: none;
        border-radius: 3px;
        color: #333;
    }
    button {
        padding: 10px;
        background-color: #3498db;
        color: white;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        margin-top: 10px;
    }
    button:hover {
        background-color: #2980b9;
    }
</style>
