---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Actualización del Password">
    <div class="update-container">
        <h1>Actualiza tú Password</h1>
        <p>Ingrese su nueva contraseña en el campo que aparece a continuación. Asegúrese de no utilizar su contraseña actual.</p>
        <form>
            <label for="new-password">Nuevo Password</label>
            <input type="password" id="new-password" name="new-password" required>
            
            <button type="submit">Actualizar</button>
        </form>
    </div>
</Layout>

<style>

    .update-container {
        padding: 20px;
        border-radius: 5px;
        max-width: 400px;
        margin: auto;
    }
    h1 {
        color: #333;
        text-align: center;
        margin-bottom: 20px;
        font-size: 35px;
        font-weight: bold;
    }
    p {
            color: #333;
            margin-bottom: 20px;
        }
        form {
            display: flex;
            flex-direction: column;
        }
        label {
            margin-bottom: 5px;
            color: #333;
        }
        input[type="password"] {
            padding: 10px;
            margin-bottom: 10px;
            border: none;
            border-radius: 3px;
            color: #333;
        }
        button {
            padding: 10px;
            background-color: #3498db;
            color: white;
            border: none;
            border-radius: 3px;
            cursor: pointer;
            margin-top: 10px;
        }
        button:hover {
            background-color: #2980b9;
        }
</style>