---
import Layout from "../layouts/Layout.astro";

---

<Layout title="Poli - Plataforma de Registro">

    <div class="container">
        <div class="logo">Poli</div>
        <h1>Plataforma web que permita el registro de usuarios, la asignación de roles (administrador y visualizador)</h1>
        <h2>VERSION INICIAL</h2>
        <form action="/auth/singup">
            <input type="email" placeholder="TU DIRECCIÓN DE EMAIL" required>
            <button type="submit">REGISTRARME</button>
        </form>
        <div class="login-link">
            <a href="/auth/login">Log in</a>
        </div>
    </div>
</Layout>


    <style>
        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            text-align: center;
        }
        .logo {
            font-size: 48px;
            font-weight: bold;
            border: 2px solid white;
            padding: 10px 20px;
            display: inline-block;
            margin-bottom: 20px;
        }
        
        input[type="email"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border: none;
        }
        button {
            background-color: white;
            color: #40E0D5;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
            width: 100%;
        }
        .login-link {
            margin-top: 20px;
        }
        .login-link a {
            width: auto;
            color: #3CA692;
            text-decoration: none;
            display: inline-block;
            padding-top: 700px; 
            padding: 9px; /* Espaciado interior */
            background-color: #202B40; /* Color de fondo de la caja */
            border-radius: 10px; /* Bordes redondeados */
            
            
        }
    </style>
