---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<header class="nav">
			<a href="/">Home</a>
			<a href="/contacto">Contactarnos</a>
			<a href="/admin">Admin</a>
			<a href="/cuenta">👤</a>
		</header>


		<slot />

		<footer>
			<p> &copy 2024 Poli - Plataforma de Registro</p>
			<h3>Vistas de autenticación (esta sección será eliminada en la proxima entrega)</h3>
			<div class="enlaces">
				<a href="/auth/login">Log In</a>
				<a href="/auth/singup">Sing Up</a>
				<a href="/auth/reset-pass">Reset Password</a>
				<a href="/auth/update-pass">Update Password</a>
				<a href="/auth/denied">Acceso Denegado</a>
				<a href="/auth/protected">Vista Protegida</a>
			</div>
		</footer>
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	body {
            font-family: Arial, sans-serif;
            background-color: #40E0D0;
            color: white;
            margin: 0;
            padding: 0;
			min-height: 100vh;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
    }

	.nav {
            display: flex;
			justify-content: flex-end;
			background-color: #ddd;
			padding: 1em;
    }
	.nav a {
		color: blue;
		text-decoration: none;
		margin-left: 10px;
		display: inline;
	}
	.nav a:hover{
		text-decoration: underline;
	}

	input{
		color: #333;
	}

	footer{
		background-color: #333;
		color: white;
		padding: 1em;
		text-align: center;
		margin: auto auto 0 auto;
	}

	footer p{
		margin-bottom: 20px;
	}

	footer h3{
		font-weight: bold;
	}

	footer .enlaces{
		display: flex;
		justify-content: center;
		margin-top: 1em;
		flex-wrap: wrap;
		gap: 1em;
	}
	footer a{
		color: yellow;
		text-decoration: none;
	}
	footer a:hover{
		text-decoration: underline;
	}
</style>
